/* <------------ common */

/* -------------> common */

/* <------------ header */
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 0px;
}

header .navbar {
  max-width: 1199px;
  padding: 0;
}

header .navbar-brand img {
  width: 143px;
  height: 24px;
}

header .navbar-nav {
  font-size: 14px;
  line-height: 90px;
}

header li .nav-text {
  color: #fff;
}

header .nav-text:hover {
  color: #999;
}

header li .dropdown-menu {
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
  display: block;
  transform: translateY(-10px);
  background-color: #000;
}

header .dropdown:hover .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

header .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 18px;
  display: block;
  line-height: 16px;
  font-size: 14px;
  transition: 0.2s;
}

header .dropdown-item:hover {
  background-color: #442606;
}

@media screen and (max-width: 1199px) {
  header {
    height: 60px;
    background-color: #000;
  }

  .header .navbar {
    padding: 8px 16px;
  }

  header .navbar-brand {
    margin-left: 20px;
    display: flex;
    height: 60px;
    align-items: center;
  }

  header .navbar-brand img {
    height: 19px;
    width: 110px;
  }

  header .navbar-toggler {
    height: 60px;
    position: absolute;
    top: 0;
    right: 10px;
  }

  header .navbar-toggler:focus,
  header .navbar-toggler:hover {
    outline: 0;
  }

  header .hamburger {
    width: 16px;
    height: 2px;
    color: #fff;
    background: currentColor;
    position: relative;
    display: block;
  }

  header .hamburger::before {
    content: "";
    position: absolute;
    top: -6px;
    width: 100%;
    height: 100%;
    background: currentColor;
    left: 0;
  }

  header .hamburger::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 100%;
    height: 100%;
    background: currentColor;
    left: 0;
  }

  header .navbar-nav {
    line-height: 50px;
    background-color: #000;
  }

  header .nav-text:hover {
    color: #fff;
    background-color: #000;
  }

  header .navbar-collapse .dropdown-menu {
    display: none;
  }

  header .navbar-collapse .dropdown-menu.show {
    display: block;
  }

  header .dropdown-menu .dropdown-item {
    margin-left: 19px;
  }

  header .dropdown-item:hover {
    background-color: #000;
  }
}

/* -----------> header */

/* <----------- main */

/* -----------> main */

/* <----------- footer */

/* -----------> footer */
