header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 0px;
}

header .navbar {
  max-width: 1180px;
  justify-content: space-between;
}

header nav .navbar-brand img {
  width: 143px;
  height: 24px;
}

header nav ul li .nav-text {
  color: #fff;
}

header .nav-text:hover {
  color: #999;
}

header nav ul li .dropdown-menu {
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
  display: block;
  transform: translateY(-10px);
  background-color: #000;
}

header nav ul .dropdown:hover .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

header nav ul .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 18px;
  display: block;
  line-height: 16px;
  font-size: 14px;
  transition: 0.2s;
}

header .dropdown-item:hover {
  background-color: #442606;
}

header nav .navbar-collapse {
  flex-grow: 0;
}

header nav .navbar-nav {
  font-size: 14px;
  line-height: 90px;
}

@media screen and (max-width: 991px) {
  header {
    height: 60px;
    background-color: #000;
  }

  header nav .navbar-brand {
    margin-left: 20px;
    display: flex;
    height: 60px;
    align-items: center;
  }

  header nav .navbar-brand img {
    height: 19px;
    width: 110px;
  }

  header nav .navbar-nav {
    line-height: 50px;
    background-color: #000;
  }

  header .nav-text:hover {
    color: #fff;
  }

  #navbarSupportedContent .dropdown-menu {
    display: none;
  }

  #navbarSupportedContent .dropdown-menu.show {
    display: block;
  }

  header nav ul li .dropdown-menu .dropdown-item {
    margin-left: 19px;
  }

  header nav .navbar-toggler .humberger {
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
  }

  .navbar-toggler:focus,
  .navbar-toggler:hover {
    outline: 0;
  }

  header .humberger span {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
  }

  header .humberger span:nth-of-type(1) {
    top: 3px;
  }

  header .humberger span:nth-of-type(2) {
    top: 50%;
  }

  header .humberger span:nth-of-type(3) {
    bottom: 0;
  }
}
